.home-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.image-add-task{
  margin:50px 0 100px 0;
}

.info-text{
  color: #ffffff;
  font-size:16px;
  font-weight:400;
  margin-bottom:100px;
}

.register-button{
  height: 40px;
  width: 248px;
  border: none;
  border-radius:34px ;
  color:#ffffff ;
  background-color: #236FE2;
  font-size: 16px;
  font-weight: 400;
}