@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Signika", sans-serif;
  box-sizing: border-box;
}

.container {
  height: 812px;
  width: 375px;
  background-color: #202226;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide{
  display: none;
}


