.header {
  width: 20%;
  height: 30px;
  margin-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}